.App {
  text-align: center;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  background-color: #8b3f3f;
  height: 100vh;
}

.popup {
  opacity: 0;
  visibility: hidden;
  transition: 0.5s ease-in-out;
}

.open {
  opacity: 1;
  visibility: visible;
  transition: 0.5s ease-in-out;
}

.popupBody {
  max-width: 300px;
  margin: 0 auto;
  background-color: #317a51;
  border-radius: 5px;
  z-index: 100;
}
.popupContent {
  display: flex;
  flex-direction: column;
  position: relative;
  z-index: 100;
}

.popupItem {
  margin: 10px 0 30px 0;
}

.closePopup {
  font-size: 30px;
  transform: rotate(45deg);
  justify-self: end;
  position: absolute;
  top: -35px;
  right: -20px;
  cursor: pointer;
}

button {
  margin-bottom: 30px;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
}
